# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem
.env.local
.env.*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath
.settings/

# OS
Thumbs.db

# IDEs specific files
*.sublime-project
*.sublime-workspace
next-env.d.ts
package-lock.json
